html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mainView {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.leftSide {
  display: flex;
  width: 200px;
  height: 100vh;
  align-items: center;
}

.rightSide {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 100vh;
  justify-content: flex-end;
  align-items: center;
}

.arrowButton:hover {
  background-color: #ffe3ba;
}

.arrowButton:active {
  background-color: #ffd9a1;
  box-shadow: 0 5px #edca95;
}

.arrowButton {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  cursor: pointer;
}

.inputInactive:hover {
  cursor: pointer;
  background-color: #b0e0eb;
}

.inputActive:hover {
  cursor: pointer;
}

.inputInactive {
  height: 50px;
  width: 50px;
  margin: 9px;
  border-radius: 6px;
  border: none;
  background-color: #bff3ff;
  text-align: center;
  font-size: large;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.inputActive {
  height: 50px;
  width: 50px;
  margin: 9px;
  border-radius: 6px;
  border: none;
  background-color: #c1ff8f;
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.maxInput {
  text-align: center;
  background-color: #ff8787;
  color: white;
  font-size: large;
  width: 150px;
  border-radius: 6px;
  border: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.confirm {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border: none;
  background-color: #ff8787;
  font-size: large;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.confirm:hover {
  background-color: #f07f7f;
}

.confirm:active {
  background-color: #d67272;
  box-shadow: 0 5px #666;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
