html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  cursor: pointer;
}

.inputInactive:hover {
  cursor: pointer;
  background-color: #b0e0eb;
}

.inputActive:hover {
  cursor: pointer;
}

.inputInactive {
  height: 50px;
  width: 50px;
  margin: 9px;
  border-radius: 6px;
  border: none;
  background-color: #bff3ff;
  text-align: center;
  font-size: large;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.inputActive {
  height: 50px;
  width: 50px;
  margin: 9px;
  border-radius: 6px;
  border: none;
  background-color: #c1ff8f;
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.confirm {
  height: 50px;
  width: 200px;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  border: none;
  background-color: #ff8787;
  font-size: large;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.confirm:hover {
  background-color: #f07f7f;
}

.confirm:active {
  background-color: #d67272;
  box-shadow: 0 5px #666;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
